%main{:role => "main"}
  %section.jumbotron.text-center
    .container
      %h1.jumbotron-heading A Collection of Portraits and Fine Art
      %p.lead.text-muted
        A passionate, dedicated artist specializing in capturing the beauty we all hold within.